<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="air.com.oyunstudyosu.sanalika.friends" android:versionCode="1" android:versionName="1.0">
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-sdk android:minSdkVersion="15" />
  <application>
    <receiver android:name="net.agasper.unitynotification.UnityNotificationManager">
    </receiver>
  </application>
</manifest>